header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #387ef5;
  border-bottom: 1px solid #0c60ee;
  color: white;
  padding: 10px;
  z-index: 999;
  -webkit-box-shadow: 0 5px 21px 0 rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 5px 21px 0 rgba(0, 0, 0, .75);
  box-shadow: 0 5px 21px 0 rgba(0, 0, 0, .75);
}

badge {
  display: inline-block;
  border-radius: 6px;
  font-size: 11px;
  padding: 0 5px;
  font-weight: bold;
  color: white;
  background-color: #0c60ee;
}

track {
  position: fixed;
  bottom: 20px;
  left: calc(50% - 27px);
  width: 58px;
  height: 58px;
  line-height: 54px;
  text-align: center;
  background-color: #387ef5;
  border: 2px solid #0c60ee;
  border-radius: 50%;
  z-index: 9999;
  background-image: url('../img/pin_@2x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  -webkit-transform: translateZ(0);
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-transition: bottom .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: bottom .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

track.hideWhileTracking {
  bottom: -78px;
}

track :hover {
  opacity: .5
}

beacon-map {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  height: calc(100% - 60px);
  top: 60px;
}

.scroll {
  height: 100%;
}

beacon-map > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

beacon-map .leaflet-control-attribution {
  display: none;
}

body {
  cursor: url('../img/cursor_finger.png'), auto;
}

.slider {
  height: 100%;
}

.slider-slide {
  padding: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}

#list ol {
  margin-top: 30px;
}

#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

/** Leaflet Overwrites **/
.leaflet-popup-content-wrapper {
  padding: 2px;
  color: white;
  background-color: #387ef5;
  border-radius: 3px;
  transition: all 0.4s ease-in;
}

.leaflet-popup-close-button {
  color: white !important;
}

.leaflet-popup-content-wrapper p {
  margin: 2px 0 5px 0;
  line-height: auto;
}

.leaflet-popup-tip {
  background-color: #387ef5;
}

/** Animations **/
.beacon-recording {
  animation: blink 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: .9;
    color: red;
  }
}
