<!DOCTYPE html>
<html ng-app="beacon">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Beacon</title>
  <link href="lib/ionic/ionic.bundle.css" rel="stylesheet">
  <link href="lib/leaflet/leaflet.css" rel="stylesheet">

  <!-- app styling -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <ion-nav-view></ion-nav-view>

  <!-- MainMenu.View -->
  <script id="templates/event-menu.html" type="text/ng-template">
  <ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
      <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
          <!-- Left buttons -->
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons>

        <!-- Right buttons -->
        <ion-nav-buttons side="right">

          <button ng-class="{
              'beacon-recording': !!vm.serviceInterval,
              'ion-record': !!vm.serviceInterval
            }"
            class="button button-icon ion-map"
            ng-click="vm.manageTrackingService()">
          </button>

          <button class="button button-icon ion-aperture"
            ng-click="vm.getPicture()">
          </button>

        </ion-nav-buttons>
      </ion-nav-bar>

      <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-header-bar class="bar-positive">
        <h1 class="title">{{::vm.title}}</h1>
      </ion-header-bar>
      <ion-content>
        <ul class="list">
          <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
          <a ui-sref="menu.tracking" class="item" menu-close>Tracking</a>
          <a ui-sref="menu.location" class="item" menu-close>Locations</a>
        </ul>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</script>

  <!-- Tracking.View -->
  <script id="templates/tracking.html" type="text/ng-template">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-settings"></a>
  </ion-nav-buttons>
  <ion-view view-title="Tracking">
    <ion-content scroll="false">
      <header>
        <span><strong>Accuracy </strong> <badge>{{vm.serviceAccuracy}} %</badge></span>
        <br>
        <span><strong>Last updated time </strong> <badge>{{vm.lastUpdateTime}}</badge></span>
      </header>
      <track ng-class="{hideWhileTracking: vm.serviceInterval}"
             ng-click="vm.centerOnMe()"
             title="Find current location">Track
      </track>
      <beacon-map id="trackingMap" map-instance="::vm.map"/>
    </ion-content>
  </ion-view>
</script>

  <!-- Location.View -->
  <script id="templates/location.html" type="text/ng-template">
  <ion-view view-title="Locations">
    <ion-content>
      <!-- Content -->
      <ion-list show-delete="vm.showDelete">
        <ion-item class="item-remove-animate"
                  ng-repeat="shape in ::shapeList track by shape.id"
                  ui-sref="menu.item({id: shape.id})"
                  item="shape">
          {{::shape.name}}
          <ion-option-button class="button-calm" ng-click="openShape(shape.id)">
            Open shape
          </ion-option-button>
          <ion-reorder-button class="ion-navicon"/>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
</script>

  <!-- LocationItem.View -->
  <script id="templates/locationItem.html" type="text/ng-template">
  <ion-view view-title={{::shape.shapeName}}>
    <ion-content scroll="false">
      <header>
          <span>
            <strong>Shape details</strong>
            <badge>{{::shape.shapeName}},
            <small>
              <strong>{{::shape.timeago}}</strong>
              </small>
            </span>
        </badge>
        <br>
        <span><strong>Timestamp</strong> <badge>{{::shape.timestamp}}</badge></span>
      </header>
      <beacon-map id="locationItemMap"
                  map-instance="map"
                  map-location="shapeDefaultLocation"
                  map-marker="true"
                  map-shape="shape.shapeData"/>
    </ion-content>
  </ion-view>
</script>
</body>

<!-- ionic/angularjs js -->
<script src="lib/ionic/ionic.bundle.js"></script>

<!-- moment (with locales) -->
<script src="lib/moment/moment-with-locales.min.js"></script>

<!-- leaflet -->
<script src="lib/leaflet/leaflet.js"></script>

<!-- lodash -->
<script src="lib/lodash/lodash.min.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- core -->
<script src="source/js/beacon.app.js"></script>

<!-- config -->
<script src="source/js/config/beacon.routes.config.js"></script>
<script src="source/js/config/beacon.http.config.js"></script>

<script src="source/js/beacon.constants.js"></script>

<!-- services -->
<script src="source/js/services/camera.service.js"></script>
<script src="source/js/services/shape.service.js"></script>

<!-- directives -->
<script src="source/js/directives/beacon.map.directive.js"></script>

<!-- controllers -->
<script src="source/js/controllers/LocationView.controller.js"></script>
<script src="source/js/controllers/LocationsView.controller.js"></script>
<script src="source/js/controllers/Map.controller.js"></script>

</html>